.reveal section img {
    border: none;
    box-shadow: 0 0 0;
}

.gd-logo {
    float: left;
}

.jtalks-logo div {

}

.gd-logo > img {
    margin-top: 200px;
    width: 350px;
    height: 55px;
}

.gd-comparison {
    float: left;
    width: 49%;
}

.jtalks-comparison > img {
    width: 100px;
    height: 100px;
}

div.general-header {
  border: 1px solid red;
  height: 10%;
}

div.general-content {
  border: 1px solid;
  height: 89%;
}
